# Ignore everything
**

# Un-ignore the .gitignore file itself
!.gitignore

# Un-ignore the ns-3.42 folder and contents selectively
!/ns-3.42/
!/ns-3.42/src/
!/ns-3.42/src/lte/
!/ns-3.42/src/lte/helper/
!/ns-3.42/src/lte/helper/**
!/ns-3.42/src/lte/model/
!/ns-3.42/src/lte/model/**

!/ns-3.42/scratch/
!/ns-3.42/scratch/**
!/ns-3.42/nr
!/ns-3.42/nr/**